@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

/* shared style */

.primary-color {
  color: #ff5400;
}

.text-one {
  font-size: 36px;
  font-weight: 800;
}

.text-two {
  font-size: 18px;
  font-weight: 700;
}

.text-three {
  font-size: 64px;
  font-weight: 800;
}

.text-four {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.text-five {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
/* Nav Style */

.logo {
  display: flex;
  gap: 1.5rem;
}

.nav-section {
  display: flex;
  gap: 2rem;
}

.nav-items {
  list-style: none;
  padding-top: 0.75rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.hum-burger {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.banner {
  max-width: 1170px;
  height: 500px;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
}

.explore {
  max-width: 676px;
  text-align: center;
  margin: 0 auto;
  padding-top: 7rem;
  color: azure;
  padding-bottom: 48px;
}

.explore > h3 {
  padding-bottom: 25px;
}

.menu {
  width: 800px;
  height: 84px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > input,
select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
  cursor: pointer;
}

.menu > button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.popular {
  margin: 100px 0;
  display: flex;
  gap: 30px;
}

.popular-tour {
  margin-left: 8rem;
}

.our {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 800;
}

.details {
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
  margin-top: 24px;
}

.details-1 {
  margin-top: 24px;
}

.details-1 > li {
    margin-left: 15px;
}

#gap {
  margin-bottom: 16px;
  color: rgba(19, 19, 24, 0.7);
}

#gap-1 {
  margin-bottom: 24px;
  color: rgba(19, 19, 24, 0.7);
}

.popular-tour > button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 84, 0);
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  cursor: pointer;
}

.hill-img {
  width: 540px;
  height: 550px;
  margin-right: 5rem;
}
/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {

*{
    max-width: 375px;
    margin: 0 auto;
}
  nav > .logo > h3 {
    font-size: 21.54px;
    font-weight: 800;
    padding-top: 10px;
  }

  .nav-section {
    display: none;
  }

  .hum-burger {
    display: block;
    width: 16.5px;
    height: 10.5px;
    padding-top: 12px;
  }

  .banner {
    width: 335px;
    height: 483px;
    border-radius: 16px;
    background-image: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8),
        rgba(19, 19, 24, 0) 100%
      ),
      url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
  }

  .explore {
    width: 304px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5rem;
  }
  .explore > h3 {
    font-size: 22px;
    font-weight: 800;
  }

  .explore > p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .menu {
    flex-direction: column;
    width: 287px;
    height: 288px;
    
  }

  .menu > input,
  select {
    width: 255px;
    height: 52px;
    margin: 10px;
  }

  .menu > button {
    width: 255px;
    height: 52px;
}

  .popular {
    margin-top: 20px;
    flex-direction: column;
  }

  .popular-tour {
    max-width: 100%;
    margin: 0 1.5rem;
  }

  .our {
    font-size: 20px;
    font-weight: 800;
  }
  .details {
    font-size: 14px;
    font-weight: 400;
  }

  .details-1 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px;
  }

  .details-1 > p {
    font-size: 14px;
    font-weight: 400;
  }

  .hill-img {
    width: 335px;
    height: 342px;
    margin-top: 10px;
    margin-left: 18px;
  }

  .hill-img > img {
    width: 100%;
    height: 100%;
  }
}
